<br><br><div class="heading">
    <a name="service"></a>
    <h1>Our Service</h1>
  </div>
  <div class="section">
    <div class="card">
      <div class="image-section img-one"></div>
      <div class="content">
        <h2>Cardiac</h2>
        <p>Advanced Life support (ALS) ambulances, also known as Cardiac Ambulances, are designed specifically to
          provide assistance to patients suffering from cardiac diseases.</p><br><br><br><br>
        <a routerLink="/cardiac" class="button">Read more</a>
      </div>
    </div>
    <div class="card">
      <div class="image-section img-two"></div>
      <div class="content">
        <h2>Basic</h2>
        <p>An ambulance is a vehicle equipped to provide emergency care to sick or injured people and to get them to
          hospital. Ambulances can also be used to transport patients between hospitals. </p><br><br><br>
        <a routerLink="/basic" class="button">Read more</a>
      </div>
    </div>
    <div class="card">
      <div class="image-section img-three"></div>
      <div class="content">
        <h2>Ice box</h2>
        <p>An Ice Box Ambulance is a specialized ambulance that is used to transport injured or sick patients who
          require medical attention but do not need to be transported to a hospital.</p>
        <br><br><br>
        <a routerLink="/icebox" class="button">Read more</a>
      </div>
    </div>
    <div class="card">
      <div class="image-section img-four"></div>
      <div class="content">
        <h2>standby</h2>
        <p>After the initial management of the medical Emergency on need basis the patient would be shifted from this
          unit on an advanced life support ambulance </p><br><br><br><br><br><br>
        <a routerLink="/standby" class="button">Read more</a>
      </div>
    </div>
    <div class="card">
      <div class="image-section img-five"></div>
      <div class="content">
        <h2>Dead Body Transport</h2>
        <p>Deceased body transport vehicles depend on how long the decedent passed away. The dead body transport
          vehicles depend upon how long you want to travel with the deceased body. </p><br><br><br>
        <br><br>
        <a routerLink="/deadbody" class="button">Read more</a>
      </div>
    </div>
    <div class="card">
      <div class="image-section img-six "></div>
      <div class="content">
        <h2>Dead Body Storage Box</h2>
        <p>Deceased body transport vehicles depend on how long the decedent passed away. The dead body transport
          vehicles depend upon how long you want to travel with the deceased body.</p><br><br><br>
        <a routerLink="/storage"class="button">Read more</a>
      </div>
    </div>
  </div>

